<h3>{{listName()}}</h3>
<ul class="list-group list-group-numbered">
    @for(person of characters(); track person.id; let idx = $count) 
    {
        @if( person.power > 500 )
        {
            <li>
                <span>{{idx + 1}} - {{person.name}}</span>
                <strong 
                    [class.text-danger]="person.power > 500" 
                    [class.text-danger]="person.power < 500"
                >
                    ({{person.power}})
                </strong>
            </li>
        }
        @else 
        {
            <li>
                <strong>No na</strong>
            </li>
        }
    }
</ul>