<div class="col-12 col-sm-6">
  <h3>Agregar: {{ name() }}</h3>
  <input type="text" [value]="name()" (input)="name.set($any($event.target).value)" class="form-control mb-2"
    placeholder="Nombre" />
  <input type="number" [value]="power()" (input)="power.set($any($event.target).value)" class="form-control mb-2"
    placeholder="Poder" />
  <button class="btn btn-primary w-100" (click)="aggCharacter()">
    Agregar
  </button>

  <button class="btn btn-danger w-100" (click)="DeleteCharacter()">
    Borrar
  </button>

</div>